body {
    height: auto;
    width: 100%;
    color: white;
    border-radius: 25px;
    border-color: white;
}

h1 {
    font-size: xx-large;
    color: #87b9ff;
}

h2 {
    margin-top: 1.5rem;
    color: #87b9ff;
}

p {
    margin-top: 1.5rem;
}

div {
    text-align: left;
    border-style: solid;
    border-radius: 15px;
    height: auto;
    padding: 25px;
    margin: 1rem;
}

main {
    width: 800px;
    font-size: 17px;
    padding-bottom: 2rem;
    margin: auto;
}

@media (max-width: 700px) {
    .content {
        display: block;
        width: 400px;
        height: auto;
    }
}