/* Larger Views ******************************/

@media (min-width: 700px) {
    * {
        max-width: 100%;
    }
	nav ul {
		display: flex;
	}
	nav ul li {
		flex: 1 1 100%;
	}
    nav li {
        display: block;
    }
    #menu {
		display: none;
	}
    header {
        display: flex;
        justify-content: center;
    }
}

/*  Smaller Views  */
@media (max-width: 700px) {
    main {
        place-items: center;
    }

}
