body {
    height: auto;
    width: 100%;
    color: white;
    border-radius: 25px;
    border-color: white;
}

h1 {
    font-size: xx-large;
    color: #87b9ff;
}

h2 {
    color: #87b9ff;
}

.content {
    border-style: solid;
    border-radius: 15px;
    height: auto;
    max-width: 900px;
    padding: 25px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

main {
    width: 100%;
    font-size: 17px;
}

.contract {
    width: 400px;
    height: 400px;
    grid-row: 1 / 5;
    margin-right: 1rem;
}

@media (max-width: 700px) {
    .contract {
        width: 150px;
        height: 150px;
    }
    .content {
        display: block;
        width: 400px;
        height: auto;
    }
}